body {
    font-family: 'Press Start 2P', cursive;
    /*font-style: oblique;*/
}

#titulo {
    color: rgb(240, 90, 90) !important;
    transition: all .2s ease-in-out;
}

#titulo:hover {
    color: rgb(255, 255, 255) !important;
    background-color: rgb(192, 79, 79);
    border-radius: 10px;
    position: relative;
    bottom: 1px;
    text-shadow: 2px 2px black;
    transform: scale(1.1);
}

#nav1 {}

#nav2 {
    border-bottom: 1.5px #fcb1b1 solid;
    background-color: #fffdfd !important;
}

#imagen {
    animation: 2s ease-out 0s 1 slideInFromLeft;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-3700%);
    }

    100% {
        transform: translateX(0);
        transform: scale(0.7);
    }
}

.table-bordered {
    border: 3px solid #e47676 !important;
    padding: 20px !important;
}

td {
    background-color: white;
    transition: all .2s ease-in-out;
}

td:hover {
    background-color: rgb(224, 102, 102);
    color: white;
    box-shadow: 0px 0px 25px #c5dde0;
}

#null {
    background-color: #ffffff;
}

#click:active {
    background-color: white;
    color: red;
}

@media all and (orientation:landscape) {
   
}